/sf-app/app/config/parameters.yml
/sf-app/build/
/sf-app/phpunit.xml
/sf-app/var/*
!/sf-app/var/cache
/sf-app/var/cache/*
!sf-app/var/cache/.gitkeep
!/sf-app/var/logs
/sf-app/var/logs/*
!sf-app/var/logs/.gitkeep
!/sf-app/var/sessions
/sf-app/var/sessions/*
!sf-app/var/sessions/.gitkeep
!sf-app/var/SymfonyRequirements.php
/sf-app/vendor/
/sf-app/web/bundles/
bower_components/
node_modules/
/sf-app/web/dist/
.DS_Store
